@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
/* start: how it works styles */
#how-it-works {
    padding: 3rem 0;
    background: #f8f9fa;
    text-align: center;
}

#how-it-works h2 {
    margin-bottom: 3rem;
}

#how-it-works .flex > div {
    width: 30%;
}

#how-it-works h4 {
    color: #343a40;
    margin-top: 1rem;
}

#how-it-works span.fas {
    color: #f69314;
    font-size: 35px;
}
/* end: how it works styles */