@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
/* start: properties styles */
#properties {
    margin: 4rem 0 8rem;
    position: relative;
}

#properties h2 {
    margin-bottom: 3rem;
}

#properties .container {
    position: relative;
}

#properties .container:before {
    content: "/";
    position: absolute;
    right: 80px;
    top: 18px;
    color: #999;
}

#properties-slider a.slick-arrow {
    color: #000;
    position: absolute;
    top: -78px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

#properties-slider a.slick-prev {
    right: 80px;
}

#properties-slider .slick-slide {
    padding: 0 15px;
}

#properties-slider img {
    width: 100%;
    display: block;
}

#properties-slider .property-details {
    padding: 1rem;
}

#properties-slider .price {
    font-size: 1.2rem;
    color: #343a40;
    font-weight: 800;
    margin: 0 0 0.5rem 0;
}

#properties-slider .property-details span {
    font-size: 0.8rem;
    padding-right: 15px;
}

#properties-slider .property-details span.baths {
    padding-left: 10px;
}

#properties-slider .property-details span.sqft {
    padding-right: 0;
    padding-left: 10px;
}

#properties-slider .property-details span.beds,
#properties-slider .property-details span.baths {
    border-right: 1px solid #888;
}

#properties-slider .property-details address {
    font-size: 0.8rem;
    font-style: normal;
    margin-top: 0.5rem;
}

#properties button.rounded {
    display: block;
    margin: 2rem auto 0;
    width: 350px;
}
/* end: properties styles */
